<h2>Create Item</h2>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Grocery item">
  <input type="text" name="quantity" placeholder="How many?">
  <input type="submit" value="Add to the list!"></input>
</form>
