<p><h2>Welcome!</h2>

<p>Where would you like to go?

<p><li><a href=/items>Items</a></li>
  <li><a href=/users>Users</a></li>
    <li><a href=/sales>Sales</a></li>
      <li><a href=/faq>FAQ</a></li>
