<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Shopping Emporium</title>
  </head>
  <body>
    <h1>Shopping Emporium</h1>
<!-- SUPER SECRET RUBY METHOD -->

<%= yield %>

<!-- END SUPER SECRET RUBY METHOD -->
  </body>
  <footer>
    <p><p><hr>
      <li class="lifooter"><a href=/>Your List</a></li>
        <li class="lifooter"><a href=/create>Add Items</a></li>

      <li class="lifooter"><a href=/account/logout>Log-out</a></li>


  </footer>
</html>


<!-- This layout page is like a header and footer. -->
