<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <!-- <meta name='viewport' content='width=device-width, initial-scale=1'> -->
    <title>Shopping Emporium</title>
  </head>
  <body>
    <div class='main'>

    <h1>Shopping Emporium</h1>

    <%= yield %>

    <div id='layoutfooter'>
      <footer>
          <p><p>
            <li class="lifooter"><a href=/>Your List</a></li>
            <li class="lifooter"><a href=/create>Add Items</a></li>
            <li class="lifooter"><a href=/account/logout>Log-out</a></li>
      </footer>
    </div>

    </div>
  </body>


</html>


<!-- This layout page is like a header and footer. -->
