<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Shopping Emporium</title>
  </head>
  <body>
    <h1>Shopping Emporium</h1>
<!-- SUPER SECRET RUBY METHOD -->

<%= yield %>

<!-- END SUPER SECRET RUBY METHOD -->
  </body>
  <footer>
    <p><p><hr>
      <li class="lifooter"><a href=/>Home</a></li>
        <li class="lifooter"><a href=/items>Items</a></li>
          <li class="lifooter"><a href=/users>Users</a></li>
            <li class="lifooter"><a href=/sales>Sales</a></li>
              <li class="lifooter"><a href=/faq>FAQ</a></li>

  </footer>
</html>


<!-- This layout page is like a header and footer. -->
