<h2>Welcome!</h2>
<!-- <p>You are not authorized to view this page.</p> -->
<p>Shopping Emporium is the web's best shopping list manager.</p>
<p>Please either <a href=/account/register>register</a> or <a href=/account/login>log-in</a>.</p>
<div class="not_authorized_page">
<%= erb :register %>
</div>
<div class="not_authorized_page">
<%= erb :login %>
</div>
