
    <h1>Welcome!</h1>
    <p>New to ShopApp? Register here:</p>

    <% if @taken %>
    <p><li><%= @taken %></li></p>
    <% end %>
    <p>

<form action="/account/register" method="post">
  <input type="text" name="user_name" placeholder="Username">
  <p><input type="text" name="user_email" placeholder="E-mail address"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <!-- <p><input type="text" name="password" placeholder="Re-enter password"></p> -->
<input type="submit" value="Submit">
</form>


    </p>
  <p>Already registered? Log-in <a href=/account/login>here</a>.</p>
