<h2>Update Item</h2>

<p>
  <em>Update <%= @item.name %>.</em>
</p>

<form action="/update" method="post">
  <input type="hidden" name="id" value="<%= @item.id %>">
  <input type="text" name="name" value="<%= @item.name %>">
  <input type="text" name="quantity" value="<%= @item.quantity %>">
  <input type="submit" value="Update item"></input>
</form>
