
    <p>
      <h1>Log-in</h1>
    </p>
    <p>Please enter your log-in details:</p>
    <p>

<form class="" action="index.html" method="post">
  <p><input type="text" name="email" placeholder="E-mail address"></p>
  <p><input type="text" name="password" placeholder="Password"></p>
<input type="button" name="submit" value="Submit">
</form>


    </p>
