
    <h1>Welcome!</h1>
    <p>New to ShopApp? Register here:</p>
    <p>

<form class="" action="index.html" method="post">
  <input type="text" name="name" placeholder="Name">
  <p><input type="text" name="email" placeholder="E-mail address"></p>
  <p><input type="text" name="password" placeholder="Password"></p>
  <p><input type="text" name="password" placeholder="Re-enter password"></p>
<input type="button" name="submit" value="Submit">
</form>


    </p>
  <p>Already registered? Log-in <a href=login.html>here</a>.</p>
